@media (max-height: 409px) {
  body {
    transform: scale(0.7);
  }
}

body {
  width: 514px;
  position: relative;
  background-color: white;
  text-align: center;
  margin: auto;
}

div {
  box-sizing: border-box;
  position: relative;
  width: 514px;
  height: 338px;
  border: 1px solid black;
}

canvas {
  box-sizing: border-box;
  position: relative;
}

#selector {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  left: 52px;
  z-index: 999;
}

.card {
  box-sizing: border-box;
  width: 44px;
  height: 76px;
  position: absolute;
  top: 0px;
  left: 0px;
}

img {
  margin: 15px 0px;
}

#startscreen {
  position: absolute;
  top: 132px;
  left: 1px;
  border: 0px;
  margin: auto;
}

button {
  position: absolute;
  top: 430px;
  display: none;
  width: 67px;
  height: 92px;
  padding: 0;
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

#fxbutton {
  background: url("Sprites/fxbutton.png") no-repeat;
  left: 95px;
}

#bgmbutton {
  background: url("Sprites/bgmbutton.png") no-repeat;
  left: 352px;
}